ACTION=="remove", GOTO="bluetooth_end"

# RTL8723BS + Intel Cherry-Trail
SUBSYSTEM=="tty", KERNEL=="ttyS4", DRIVERS=="dw-apb-uart", TAG+="systemd", ENV{SYSTEMD_WANTS}="bluetooth-uart.service"

LABEL="bluetooth_end"
